<div class='container two-col'>
  <div class='flex flex-col justify-center text-center p-6'>
    <h1 class='text-7xl font-bold'>Trading Markets</h1>
    <p class='text-2xl mt-4 text-gray-600'>Buy and sell your favorite stocks and practice your investment strategy.</p>
    <div class='mt-2'>
      <%= link_to "Register", new_user_registration_path, class: 'btn text-2xl' %>
      <%= link_to "Login", new_user_session_path, class: 'btn text-2xl' %>
    </div>
  </div>
  <div class='w-full flex justify-center items-center'>
    <%= image_tag 'investing.svg', class: 'w-4/5' %>
  </div>
</div>
