<table>
  <thead>
    <tr>
      <th> Symbol</th>
      <th> Company Name </th>
      <th> Cost Price </th>
      <th> Shares </th>
    </tr>
  </thead>

  <tbody>
    <% @my_stocks.each do |stock| %>
    <%# specific user, specific stocks %>
      <%# <% if stock.user == current_user %> 
      <tr>
        <td> <%= stock.symbol %> </td>
        <td> <%= stock.company_name %> </td>
        <td> <%= stock.cost_price %> </td>
        <td> <%= 'sample # of shares' %> </td>
      </tr>
      <%# <% end %> 
    <% end %>
  </tbody>
</table>