<h1>Transactions</h1>

<% if @transactions.empty? %>
  <h1>No Transactions yet</h1>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Transaction Type</th>
        <th>Company name</th>
        <th>Shares</th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= 'Transaction Type' %></td>
          <td><%= @transactions.company_name %></td>
          <td><%= @transactions.shares %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>